.Rproj.user
.Rhistory
.RData
.Ruserdata
output/
data_please_excuse_the_mess/
CPL/
future_targets/
cpf_targets/_targets/
.DS_Store
test_fig/
cpf_targets/.DS_Store
field_chemistry/.DS_Store
data/
data
sharing_data/
test_output/